@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
/* line 9, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
a:hover, a:focus, h4:hover, h4:focus {
  text-decoration: none !important; }

/* line 13, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.form-signin input, .admin-page input {
  height: 48px;
  margin-top: 10px;
  border-radius: 0; }

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.form-signin .btn-danger, .admin-page .btn-danger {
  background: #00CCFF;
  border: 0 solid; }
  /* line 16, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .form-signin .btn-danger:hover, .admin-page .btn-danger:hover {
    background: #02bcea; }
  /* line 17, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .form-signin .btn-danger.disabled, .form-signin .btn-danger[disabled], .admin-page .btn-danger.disabled, .admin-page .btn-danger[disabled] {
    background: #00CCFF;
    border: 0 solid; }
    /* line 19, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
    .form-signin .btn-danger.disabled:hover, .form-signin .btn-danger[disabled]:hover, .admin-page .btn-danger.disabled:hover, .admin-page .btn-danger[disabled]:hover {
      background: #02bcea; }

/* line 24, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
#mainkonten {
  height: auto; }
  /* line 27, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  #mainkonten .ads h4, #mainkonten .ads b {
    color: #00CCFF; }
  /* line 29, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  #mainkonten a:hover {
    color: #00CCFF; }

/* line 32, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.card {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  /* line 42, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .card .card-image {
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    /* line 49, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
    .card .card-image img {
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    /* line 56, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
    .card .card-image:hover img {
      -webkit-transform: scale(1.2) rotate(-7deg);
      -moz-transform: scale(1.2) rotate(-7deg);
      -ms-transform: scale(1.2) rotate(-7deg);
      -o-transform: scale(1.2) rotate(-7deg);
      transform: scale(1.2) rotate(-7deg); }
  /* line 65, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .card .card-content {
    padding: 10px; }
    /* line 67, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
    .card .card-content .card-title, .card .card-content .card-reveal .card-title {
      font-size: 24px;
      font-weight: 200; }
  /* line 73, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .card .card-action {
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2); }
    /* line 76, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
    .card .card-action a {
      font-size: 15px;
      color: #ffab40;
      text-transform: uppercase;
      margin-right: 20px;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      transition: color 0.3s ease; }
      /* line 86, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
      .card .card-action a:hover {
        color: #ffd8a6;
        text-decoration: none; }
  /* line 93, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    display: none; }
    /* line 105, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
    .card .card-reveal p {
      color: rgba(0, 0, 0, 0.71);
      margin: 20px; }
  /* line 111, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .card .btn-custom {
    background-color: transparent;
    font-size: 18px; }

/* line 118, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
#support {
  padding-bottom: 0; }

/* line 119, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.dropdown-menu {
  background: rgba(0, 204, 255, 0.9) !important; }

/* line 132, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button {
  position: relative; }
  /* line 134, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .ladda-button .ladda-spinner {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    opacity: 0;
    pointer-events: none; }
  /* line 145, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .ladda-button .ladda-label {
    position: relative;
    z-index: 3; }
  /* line 149, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .ladda-button .ladda-progress {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.1s linear all !important;
    -moz-transition: 0.1s linear all !important;
    -ms-transition: 0.1s linear all !important;
    -o-transition: 0.1s linear all !important;
    transition: 0.1s linear all !important; }
  /* line 164, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
  .ladda-button[data-loading] .ladda-progress {
    opacity: 1;
    visibility: visible; }

/* line 170, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button,
.ladda-button .ladda-spinner,
.ladda-button .ladda-label {
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important; }

/* line 180, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-in],
.ladda-button[data-style=zoom-in] .ladda-spinner,
.ladda-button[data-style=zoom-in] .ladda-label,
.ladda-button[data-style=zoom-out],
.ladda-button[data-style=zoom-out] .ladda-spinner,
.ladda-button[data-style=zoom-out] .ladda-label {
  -webkit-transition: 0.3s ease all !important;
  -moz-transition: 0.3s ease all !important;
  -ms-transition: 0.3s ease all !important;
  -o-transition: 0.3s ease all !important;
  transition: 0.3s ease all !important; }

/* line 193, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-right] .ladda-spinner {
  right: 14px; }

/* line 197, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-right][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-right][data-size="xs"] .ladda-spinner {
  right: 4px; }

/* line 202, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-right][data-loading] {
  padding-right: 56px; }

/* line 206, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-right][data-loading] .ladda-spinner {
  opacity: 1; }

/* line 210, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-right][data-loading][data-size="s"],
.ladda-button[data-style=expand-right][data-loading][data-size="xs"] {
  padding-right: 40px; }

/* line 215, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-left] .ladda-spinner {
  left: 14px; }

/* line 219, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-left][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-left][data-size="xs"] .ladda-spinner {
  left: 4px; }

/* line 224, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-left][data-loading] {
  padding-left: 56px; }

/* line 228, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-left][data-loading] .ladda-spinner {
  opacity: 1;
  top: 31px; }

/* line 233, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-left][data-loading][data-size="s"],
.ladda-button[data-style=expand-left][data-loading][data-size="xs"] {
  padding-left: 40px; }

/* line 238, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-up] {
  overflow: hidden; }

/* line 242, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-up] .ladda-spinner {
  top: -32px;
  left: 50%;
  margin-left: -16px; }

/* line 248, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-up][data-loading] {
  padding-top: 54px; }

/* line 252, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-up][data-loading] .ladda-spinner {
  opacity: 1;
  top: 14px;
  margin-top: 0; }

/* line 258, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-up][data-loading][data-size="s"],
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] {
  padding-top: 32px; }

/* line 263, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-up][data-loading][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] .ladda-spinner {
  top: 4px; }

/* line 268, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-down] {
  overflow: hidden; }

/* line 272, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-down] .ladda-spinner {
  top: 62px;
  left: 50%;
  margin-left: -16px; }

/* line 278, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-down][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-down][data-size="xs"] .ladda-spinner {
  top: 40px; }

/* line 283, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-down][data-loading] {
  padding-bottom: 54px; }

/* line 287, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-down][data-loading] .ladda-spinner {
  opacity: 1; }

/* line 291, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=expand-down][data-loading][data-size="s"],
.ladda-button[data-style=expand-down][data-loading][data-size="xs"] {
  padding-bottom: 32px; }

/* line 296, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-left] {
  overflow: hidden; }

/* line 300, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-left] .ladda-label {
  position: relative; }

/* line 304, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-left] .ladda-spinner {
  left: 100%;
  margin-left: -16px; }

/* line 309, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-left][data-loading] .ladda-label {
  opacity: 0;
  left: -100%; }

/* line 314, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-left][data-loading] .ladda-spinner {
  opacity: 1;
  left: 50%; }

/* line 319, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-right] {
  overflow: hidden; }

/* line 323, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-right] .ladda-label {
  position: relative; }

/* line 327, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-right] .ladda-spinner {
  right: 100%;
  margin-left: -16px; }

/* line 332, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-right][data-loading] .ladda-label {
  opacity: 0;
  left: 100%; }

/* line 337, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-right][data-loading] .ladda-spinner {
  opacity: 1;
  left: 50%; }

/* line 342, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-up] {
  overflow: hidden; }

/* line 346, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-up] .ladda-label {
  position: relative; }

/* line 350, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-up] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  margin-top: 1em; }

/* line 356, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-up][data-loading] .ladda-label {
  opacity: 0;
  top: -1em; }

/* line 361, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-up][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: -16px; }

/* line 366, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-down] {
  overflow: hidden; }

/* line 370, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-down] .ladda-label {
  position: relative; }

/* line 374, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-down] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  margin-top: -2em; }

/* line 380, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-down][data-loading] .ladda-label {
  opacity: 0;
  top: 1em; }

/* line 385, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=slide-down][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: -16px; }

/* line 390, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-out] {
  overflow: hidden; }

/* line 394, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-out] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5); }

/* line 404, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-out] .ladda-label {
  position: relative;
  display: inline-block; }

/* line 409, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-out][data-loading] .ladda-label {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5); }

/* line 418, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-out][data-loading] .ladda-spinner {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

/* line 427, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-in] {
  overflow: hidden; }

/* line 431, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-in] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2); }

/* line 441, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-in] .ladda-label {
  position: relative;
  display: inline-block; }

/* line 446, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-in][data-loading] .ladda-label {
  opacity: 0;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -ms-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2); }

/* line 455, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=zoom-in][data-loading] .ladda-spinner {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

/* line 464, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract] {
  overflow: hidden;
  width: 100px; }

/* line 469, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract] .ladda-spinner {
  left: 50%;
  margin-left: -16px; }

/* line 474, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract][data-loading] {
  border-radius: 50%;
  width: 52px; }

/* line 479, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract][data-loading] .ladda-label {
  opacity: 0; }

/* line 483, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract][data-loading] .ladda-spinner {
  opacity: 1; }

/* line 487, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract-overlay] {
  overflow: hidden;
  width: 100px;
  box-shadow: 0px 0px 0px 3000px transparent; }

/* line 493, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract-overlay] .ladda-spinner {
  left: 50%;
  margin-left: -16px; }

/* line 498, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract-overlay][data-loading] {
  border-radius: 50%;
  width: 52px;
  box-shadow: 0px 0px 0px 3000px rgba(0, 0, 0, 0.8); }

/* line 504, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract-overlay][data-loading] .ladda-label {
  opacity: 0; }

/* line 508, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[data-style=contract-overlay][data-loading] .ladda-spinner {
  opacity: 1; }

/* line 512, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button[disabled], .ladda-button[disabled]:hover, .ladda-button[data-loading], .ladda-button[data-loading]:hover {
  background: #02bcea; }

/* line 516, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.primary:hover {
  background: #02bcea; }

/* line 518, /Applications/XAMPP/xamppfiles/htdocs/tebasaward/assets/css/custom.scss */
.ladda-button .ladda-label {
  top: -10px; }

/*# sourceMappingURL=custom.css.map */
