$red-dark: #9a1114;
$yellow : #fae442;
$blue : #00CCFF;
$blue-dark : #02bcea;
$gradient :  linear-gradient(45deg, rgba(170,253,87,1) 0%, rgba(35,206,253,1) 100%);
$gradient-hov :  linear-gradient(45deg, rgba(170,253,87,1) 100%, rgba(35,206,253,1) 0%);

a, h4 {
    &:hover, &:focus {text-decoration: none !important;}
}

.form-signin, .admin-page {
    input {height: 48px;margin-top: 10px;border-radius: 0;}
    .btn-danger {
        background: $blue; border: 0 solid;
        &:hover {background: $blue-dark;}
        &.disabled, &[disabled]{
            background: $blue; border: 0 solid;
            &:hover {background: $blue-dark;}
        }
    }
}

#mainkonten{
    height: auto;
    .ads {
        h4, b {color: $blue;}
    }
    a:hover {color: $blue;}
}

.card {
    @import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
    @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .card-image{
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        img{
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        &:hover img{
            -webkit-transform: scale(1.2) rotate(-7deg);
            -moz-transform: scale(1.2) rotate(-7deg);
            -ms-transform: scale(1.2) rotate(-7deg);
            -o-transform: scale(1.2) rotate(-7deg);
            transform: scale(1.2) rotate(-7deg);
        }
    }

    .card-content {
        padding: 10px;
        .card-title, .card-reveal .card-title{
            font-size: 24px;
            font-weight: 200;
        }
    }

    .card-action{
        padding: 20px;
        border-top: 1px solid rgba(160, 160, 160, 0.2);
        a{
            font-size: 15px;
            color: #ffab40;
            text-transform:uppercase;
            margin-right: 20px;
            -webkit-transition: color 0.3s ease;
            -moz-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            -ms-transition: color 0.3s ease;
            transition: color 0.3s ease;
            &:hover{
                color:#ffd8a6;
                text-decoration:none;
            }
        }
    }

    .card-reveal{
        padding: 20px;
        position: absolute;
        background-color: #FFF;
        width: 100%;
        overflow-y: auto;
        /*top: 0;*/
        left:0;
        bottom:0;
        height: 100%;
        z-index: 1;
        display: none;
        p{
            color: rgba(0, 0, 0, 0.71);
            margin:20px ;
        }
    }

    .btn-custom{
        background-color: transparent;
        font-size:18px;
    }

}

#support {padding-bottom: 0;}
.dropdown-menu {background: rgba(0,204,255,0.90) !important;}












.ladda-button {
    position: relative;
    .ladda-spinner {
        position: absolute;
        z-index: 2;
        display: inline-block;
        width: 32px;
        height: 32px;
        top: 50%;
        margin-top: -16px;
        opacity: 0;
        pointer-events: none
    }
    .ladda-label {
        position: relative;
        z-index: 3
    }
    .ladda-progress {
        position: absolute;
        width: 0;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 0.1s linear all !important;
        -moz-transition: 0.1s linear all !important;
        -ms-transition: 0.1s linear all !important;
        -o-transition: 0.1s linear all !important;
        transition: 0.1s linear all !important
    }
    &[data-loading] .ladda-progress {
        opacity: 1;
        visibility: visible
    }
}

.ladda-button,
.ladda-button .ladda-spinner,
.ladda-button .ladda-label {
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
    -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
    -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
    -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important
}

.ladda-button[data-style=zoom-in],
.ladda-button[data-style=zoom-in] .ladda-spinner,
.ladda-button[data-style=zoom-in] .ladda-label,
.ladda-button[data-style=zoom-out],
.ladda-button[data-style=zoom-out] .ladda-spinner,
.ladda-button[data-style=zoom-out] .ladda-label {
    -webkit-transition: 0.3s ease all !important;
    -moz-transition: 0.3s ease all !important;
    -ms-transition: 0.3s ease all !important;
    -o-transition: 0.3s ease all !important;
    transition: 0.3s ease all !important
}

.ladda-button[data-style=expand-right] .ladda-spinner {
    right: 14px
}

.ladda-button[data-style=expand-right][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-right][data-size="xs"] .ladda-spinner {
    right: 4px
}

.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 56px
}

.ladda-button[data-style=expand-right][data-loading] .ladda-spinner {
    opacity: 1
}

.ladda-button[data-style=expand-right][data-loading][data-size="s"],
.ladda-button[data-style=expand-right][data-loading][data-size="xs"] {
    padding-right: 40px
}

.ladda-button[data-style=expand-left] .ladda-spinner {
    left: 14px
}

.ladda-button[data-style=expand-left][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-left][data-size="xs"] .ladda-spinner {
    left: 4px
}

.ladda-button[data-style=expand-left][data-loading] {
    padding-left: 56px
}

.ladda-button[data-style=expand-left][data-loading] .ladda-spinner {
    opacity: 1;
    top: 31px;
}

.ladda-button[data-style=expand-left][data-loading][data-size="s"],
.ladda-button[data-style=expand-left][data-loading][data-size="xs"] {
    padding-left: 40px
}

.ladda-button[data-style=expand-up] {
    overflow: hidden
}

.ladda-button[data-style=expand-up] .ladda-spinner {
    top: -32px;
    left: 50%;
    margin-left: -16px
}

.ladda-button[data-style=expand-up][data-loading] {
    padding-top: 54px
}

.ladda-button[data-style=expand-up][data-loading] .ladda-spinner {
    opacity: 1;
    top: 14px;
    margin-top: 0
}

.ladda-button[data-style=expand-up][data-loading][data-size="s"],
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] {
    padding-top: 32px
}

.ladda-button[data-style=expand-up][data-loading][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] .ladda-spinner {
    top: 4px
}

.ladda-button[data-style=expand-down] {
    overflow: hidden
}

.ladda-button[data-style=expand-down] .ladda-spinner {
    top: 62px;
    left: 50%;
    margin-left: -16px
}

.ladda-button[data-style=expand-down][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-down][data-size="xs"] .ladda-spinner {
    top: 40px
}

.ladda-button[data-style=expand-down][data-loading] {
    padding-bottom: 54px
}

.ladda-button[data-style=expand-down][data-loading] .ladda-spinner {
    opacity: 1
}

.ladda-button[data-style=expand-down][data-loading][data-size="s"],
.ladda-button[data-style=expand-down][data-loading][data-size="xs"] {
    padding-bottom: 32px
}

.ladda-button[data-style=slide-left] {
    overflow: hidden
}

.ladda-button[data-style=slide-left] .ladda-label {
    position: relative
}

.ladda-button[data-style=slide-left] .ladda-spinner {
    left: 100%;
    margin-left: -16px
}

.ladda-button[data-style=slide-left][data-loading] .ladda-label {
    opacity: 0;
    left: -100%
}

.ladda-button[data-style=slide-left][data-loading] .ladda-spinner {
    opacity: 1;
    left: 50%
}

.ladda-button[data-style=slide-right] {
    overflow: hidden
}

.ladda-button[data-style=slide-right] .ladda-label {
    position: relative
}

.ladda-button[data-style=slide-right] .ladda-spinner {
    right: 100%;
    margin-left: -16px
}

.ladda-button[data-style=slide-right][data-loading] .ladda-label {
    opacity: 0;
    left: 100%
}

.ladda-button[data-style=slide-right][data-loading] .ladda-spinner {
    opacity: 1;
    left: 50%
}

.ladda-button[data-style=slide-up] {
    overflow: hidden
}

.ladda-button[data-style=slide-up] .ladda-label {
    position: relative
}

.ladda-button[data-style=slide-up] .ladda-spinner {
    left: 50%;
    margin-left: -16px;
    margin-top: 1em
}

.ladda-button[data-style=slide-up][data-loading] .ladda-label {
    opacity: 0;
    top: -1em
}

.ladda-button[data-style=slide-up][data-loading] .ladda-spinner {
    opacity: 1;
    margin-top: -16px
}

.ladda-button[data-style=slide-down] {
    overflow: hidden
}

.ladda-button[data-style=slide-down] .ladda-label {
    position: relative
}

.ladda-button[data-style=slide-down] .ladda-spinner {
    left: 50%;
    margin-left: -16px;
    margin-top: -2em
}

.ladda-button[data-style=slide-down][data-loading] .ladda-label {
    opacity: 0;
    top: 1em
}

.ladda-button[data-style=slide-down][data-loading] .ladda-spinner {
    opacity: 1;
    margin-top: -16px
}

.ladda-button[data-style=zoom-out] {
    overflow: hidden
}

.ladda-button[data-style=zoom-out] .ladda-spinner {
    left: 50%;
    margin-left: -16px;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5)
}

.ladda-button[data-style=zoom-out] .ladda-label {
    position: relative;
    display: inline-block
}

.ladda-button[data-style=zoom-out][data-loading] .ladda-label {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5)
}

.ladda-button[data-style=zoom-out][data-loading] .ladda-spinner {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none
}

.ladda-button[data-style=zoom-in] {
    overflow: hidden
}

.ladda-button[data-style=zoom-in] .ladda-spinner {
    left: 50%;
    margin-left: -16px;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2)
}

.ladda-button[data-style=zoom-in] .ladda-label {
    position: relative;
    display: inline-block
}

.ladda-button[data-style=zoom-in][data-loading] .ladda-label {
    opacity: 0;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -ms-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2)
}

.ladda-button[data-style=zoom-in][data-loading] .ladda-spinner {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none
}

.ladda-button[data-style=contract] {
    overflow: hidden;
    width: 100px
}

.ladda-button[data-style=contract] .ladda-spinner {
    left: 50%;
    margin-left: -16px
}

.ladda-button[data-style=contract][data-loading] {
    border-radius: 50%;
    width: 52px
}

.ladda-button[data-style=contract][data-loading] .ladda-label {
    opacity: 0
}

.ladda-button[data-style=contract][data-loading] .ladda-spinner {
    opacity: 1
}

.ladda-button[data-style=contract-overlay] {
    overflow: hidden;
    width: 100px;
    box-shadow: 0px 0px 0px 3000px rgba(0, 0, 0, 0)
}

.ladda-button[data-style=contract-overlay] .ladda-spinner {
    left: 50%;
    margin-left: -16px
}

.ladda-button[data-style=contract-overlay][data-loading] {
    border-radius: 50%;
    width: 52px;
    box-shadow: 0px 0px 0px 3000px rgba(0, 0, 0, 0.8)
}

.ladda-button[data-style=contract-overlay][data-loading] .ladda-label {
    opacity: 0
}

.ladda-button[data-style=contract-overlay][data-loading] .ladda-spinner {
    opacity: 1
}

.ladda-button[disabled], .ladda-button[disabled]:hover, .ladda-button[data-loading], .ladda-button[data-loading]:hover {
    background: $blue-dark;
}

.primary:hover {background: $blue-dark;}

.ladda-button .ladda-label {
    top: -10px;
}


