@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.nav>li.active{
    background-color: rgb(0, 204, 255);
}
.nav>li:hover{
    background-color: rgba(0,204,255,0.3);
}
.nav>li {
    position: relative;
    display: block;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
    background-color: transparent;
}

/* Fixed navbar */
.dropdownlogin{
	    background-color: rgba(0,204,255,0.90) !important;
}
.drop-login{
        background-color: rgba(0,204,255,0.3);
}
.btnlogin{
    background-color: #00CCFF !important;
    color: #FFF;
}
.btnlogin:hover{
    color: #FFF;
    background-color: #00B2DE !important;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
      right: 0;
    left: auto;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}


.thumb {
    width: 400px;
    height: 300px;
    margin: 70px auto;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.thumb a {
    display: block;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("gambar.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("gambarlogo.jpg");
    background-size: 0, cover;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.thumb:hover a {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
}
.thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
}
.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    -webkit-transform: rotateX(-89.99deg);
            transform: rotateX(-89.99deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    z-index: 1;
}
.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0.15;
    -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
            transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
            transform: rotateX(0) translateZ(-60px) scale(0.85);
}


.footersegitiga{
color:white;
background-color:#2B3A48;
text-align:center;
}
.footersegitiga:after {
content: " ";
    display:block;
    position: relative;
top:0px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#2B3A48 0%, transparent 0%), linear-gradient(135deg, #870000 33.33%, transparent 33.33%) 0 0%, #870000 linear-gradient(45deg, #870000 33.33%, #FDEFF0 33.33%) 0 0%;
    background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, #870000 33.33%, transparent 33.33%) 0 0%, #870000 -webkit-linear-gradient(45deg, #870000 33.33%, #FDEFF0 33.33%) 0 0%;
    background: -o-linear-gradient(#2B3A48 0%, transparent 0%), -o-linear-gradient(135deg, #870000 33.33%, transparent 33.33%) 0 0%, #870000 -o-linear-gradient(45deg, #870000 33.33%, #FDEFF0 33.33%) 0 0%;
    background: -moz-linear-gradient(#4E7192 0%, transparent 0%), -moz-linear-gradient(135deg, #870000 33.33%, transparent 33.33%) 0 0%, #870000 -moz-linear-gradient(45deg, #870000 33.33%, #FDEFF0 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }

.headernav{
    color:white;
background-color:#2B3A48;
text-align:center;
}
.headernav:after {
content: " ";
    display:block;
    position: relative;
top:60px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#2B3A48 0%, transparent 0%), linear-gradient(135deg, #FBFBFB 33.33%, transparent 33.33%) 0 0%, #FBFBFB linear-gradient(45deg, #FBFBFB 33.33%, #2B3A48 33.33%) 0 0%;
    background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, #FBFBFB 33.33%, transparent 33.33%) 0 0%, #FBFBFB -webkit-linear-gradient(45deg, #FBFBFB 33.33%, #AC0000 33.33%) 0 0%;
    background: -o-linear-gradient(#2B3A48 0%, transparent 0%), -o-linear-gradient(135deg, #FBFBFB 33.33%, transparent 33.33%) 0 0%, #FBFBFB -o-linear-gradient(45deg, #FBFBFB 33.33%, #2B3A48 33.33%) 0 0%;
    background: -moz-linear-gradient(#4E7192 0%, transparent 0%), -moz-linear-gradient(135deg, #FBFBFB 33.33%, transparent 33.33%) 0 0%, #FBFBFB -moz-linear-gradient(45deg, #FBFBFB 33.33%, #AC0000 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }

.videobrorder{
    color:white;
background-color:#2B3A48;
text-align:center;
}
.videoborder:after {
content: " ";
    display:block;
    position: relative;
top:0px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#2B3A48 0%, transparent 0%), linear-gradient(135deg, #FDEFF0 33.33%, transparent 33.33%) 0 0%, #FDEFF0 linear-gradient(45deg, #FDEFF0 33.33%, #870000 33.33%) 0 0%;
    background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, #FDEFF0 33.33%, transparent 33.33%) 0 0%, #FDEFF0 -webkit-linear-gradient(45deg, #FDEFF0 33.33%, #870000 33.33%) 0 0%;
    background: -o-linear-gradient(#2B3A48 0%, transparent 0%), -o-linear-gradient(135deg, #FDEFF0 33.33%, transparent 33.33%) 0 0%, #FDEFF0 -o-linear-gradient(45deg, #FDEFF0 33.33%, #870000 33.33%) 0 0%;
    background: -moz-linear-gradient(#4E7192 0%, transparent 0%), -moz-linear-gradient(135deg, #FDEFF0 33.33%, transparent 33.33%) 0 0%, #FDEFF0 -moz-linear-gradient(45deg, #FDEFF0 33.33%, #870000 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }
.videobrorderatas{
    color:white;
background-color:#2B3A48;
text-align:center;
}
.videoborderatas:after {
content: " ";
    display:block;
    position: relative;
top:0px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#2B3A48 0%, transparent 0%), linear-gradient(135deg, #870000 33.33%, transparent 33.33%) 0 0%, #870000 linear-gradient(45deg, #870000 33.33%, #AC0000 33.33%) 0 0%;
    background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, #870000 33.33%, transparent 33.33%) 0 0%, #870000 -webkit-linear-gradient(45deg, #870000 33.33%, #AC0000 33.33%) 0 0%;
    background: -o-linear-gradient(#2B3A48 0%, transparent 0%), -o-linear-gradient(135deg, #870000 33.33%, transparent 33.33%) 0 0%, #870000 -o-linear-gradient(45deg, #870000 33.33%, #AC0000 33.33%) 0 0%;
   background: -moz-linear-gradient(#4E7192 0%, transparent 0%), -moz-linear-gradient(135deg, #870000 33.33%, transparent 33.33%) 0 0%, #870000 -moz-linear-gradient(45deg, #870000 33.33%, #AC0000 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }

.blogheader{
    color:white;
background-color:#2B3A48;
text-align:center;
}
.blogheader:after {
content: " ";
    display:block;
    position: relative;
top:0px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#2B3A48 0%, transparent 0%), linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
    background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -webkit-linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
    background: -o-linear-gradient(#2B3A48 0%, transparent 0%), -o-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -o-linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
   background: -moz-linear-gradient(#4E7192 0%, transparent 0%), -moz-linear-gradient(135deg, #870000 33.33%, transparent 33.33%) 0 0%, #870000 -moz-linear-gradient(45deg, #870000 33.33%, #AC0000 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }

.borderred{
    color:white;
background-color:#2B3A48;
text-align:center;
}
.borderred:after {
content: " ";
    display:block;
    position: relative;
top:0px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#2B3A48 0%, transparent 0%), linear-gradient(135deg, #AC0000 33.33%, transparent 33.33%) 0 0%, #AC0000 linear-gradient(45deg, #AC0000 33.33%, #F4F4F4 33.33%) 0 0%;
    background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, #AC0000 33.33%, transparent 33.33%) 0 0%, #AC0000 -webkit-linear-gradient(45deg, #AC0000 33.33%, #F4F4F4 33.33%) 0 0%;
    background: -o-linear-gradient(#2B3A48 0%, transparent 0%), -o-linear-gradient(135deg, #AC0000 33.33%, transparent 33.33%) 0 0%, #AC0000 -o-linear-gradient(45deg, #AC0000 33.33%, #F4F4F4 33.33%) 0 0%;
   background: -moz-linear-gradient(#4E7192 0%, transparent 0%), -moz-linear-gradient(135deg, #AC0000 33.33%, transparent 33.33%) 0 0%, #AC0000 -moz-linear-gradient(45deg, #AC0000 33.33%, #F4F4F4 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }

.borderjuri{
    color:white;
background-color:#2B3A48;
text-align:center;
}
.borderjuri:after {
content: " ";
    display:block;
    position: relative;
top:0px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#2B3A48 0%, transparent 0%), linear-gradient(135deg, #9B2525 33.33%, transparent 33.33%) 0 0%, #F4F4F4 linear-gradient(45deg, #AC0000 33.33%, #F4F4F4 33.33%) 0 0%;
    background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, #9B2525 33.33%, transparent 33.33%) 0 0%, #F4F4F4 -webkit-linear-gradient(45deg, #AC0000 33.33%, #F4F4F4 33.33%) 0 0%;
    background: -o-linear-gradient(#2B3A48 0%, transparent 0%), -o-linear-gradient(135deg, #9B2525 33.33%, transparent 33.33%) 0 0%, #F4F4F4 -o-linear-gradient(45deg, #AC0000 33.33%, #F4F4F4 33.33%) 0 0%;
  background: -moz-linear-gradient(#4E7192 0%, transparent 0%), -moz-linear-gradient(135deg, #9B2525 33.33%, transparent 33.33%) 0 0%, #F4F4F4 -moz-linear-gradient(45deg, #AC0000 33.33%, #F4F4F4 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }

.navbar-inverse:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  /* white down pointing triangle */
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%3E%3Cpolygon%20points%3D%220%2C0%204%2C4%208%2C0%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E");
}
.navbar-inverse:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  /* white up pointing triangle */
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%3E%3Cpolygon%20points%3D%220%2C4%204%2C0%208%2C4%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E");
}



.tebas-event-top-section .box {
    background: rgba(255, 255, 255, 0.75);
    height: 250px;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
}
.tebas-event-top-section h3 {
    color: #333;
    font-size: 25px;
    font-weight: 300;
    height: 39px;
    margin: 15px 0 0;
    overflow: hidden;
    text-transform: uppercase;
}
.tebas-event-top-section h3.has-sub-title {
    position: relative;
}
#tebas-event-box-1 .fa {
    color: #34c6f4;
}
.tebas-event-top-section h3 i.fa {
    display: inline;
    float: left;
    margin-right: 5px;
    width: auto;
}
.tebas-event-top-section h3.has-sub-title span {
    position: relative;
    top: 0px;
}
.tebas-event-top-section h3 span {
    display: inline;
    float: left;
    width: auto;
}
.tebas-event-top-section h3.has-sub-title small {
    font-size: 15px;
    font-weight: 300;
    left: 30px;
    position: absolute;
    text-transform: none;
    top: 23px;
}
.tebas-event-top-section .description-box.description-switch {
    color: #666;
}
.tebas-event-top-section .description-box {
    clear: both;
    color: #000;
    font-size: 16px;
    margin-top: 18px;
}
#tebas-event-box-1 .btns {
    background-color: #34c6f4;
    border-color: #1baddb;
}
.tebas-event-top-section .tebas-event-box-button {
    bottom: 15px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: calc(100% - 30px);
    margin-left: -105px;
}

#tebas-event-box-1 {
				border-top: 10px solid #34c6f4;
			}
				#tebas-event-box-1 .fa {
					color: #34c6f4;
				}
				#tebas-event-box-1 .btns {
					background-color: #34c6f4;
					border-color: #1baddb;
				}
					#tebas-event-box-1 .btns:hover {
						background-color: #1baddb;
					}

			#tebas-event-box-2 {
				border-top: 10px solid #69bd45;
			}
				#tebas-event-box-2 .fa {
					color: #69bd45;
				}
				#tebas-event-box-2 .btns {
					background-color: #69bd45;
					border-color: #50a42c;
				}
					#tebas-event-box-2 .btns:hover {
						background-color: #50a42c;
					}

			#tebas-event-box-3 {
				border-top: 10px solid #fcb218;
			}
				#tebas-event-box-3 .fa {
					color: #fcb218;
				}
				#tebas-event-box-3 .btns {
					background-color: #fcb218;
					border-color: #e39900;
				}
					#tebas-event-box-3 .btns:hover {
						background-color: #e39900;
					}

			#tebas-event-box-4 {
				border-top: 10px solid #f47a20;
			}
				#tebas-event-box-4 .fa {
					color: #f47a20;
				}
				#tebas-event-box-4 .btns {
					background-color: #f47a20;
					border-color: #db6107;
				}
					#tebas-event-box-4 .btns:hover {
						background-color: #db6107;
					}

.boxes {
    background: rgba(255, 255, 255, 0.75);
    height: 242px;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
}
.tebas-event-top-section h3.has-sub-title small {
    font-size: 15px;
    font-weight: 300;
    left: 30px;
    position: absolute;
    text-transform: none;
    top: 23px;
}
.btns {
  background-color: #ff8b00;
  border: 0;
  border-bottom: 5px solid #ff6000;
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.btns:hover {
  background-color: #ff6000;
  border-bottom: 5px solid #ff6000;
  color: #fff;
}

.judul-acara{
    background-color: #34c6f4;
    width: 100%;
    color: #FFF;
    padding: 10px;
    font-size: 20px;
}

.primary {background: #E41111;}
.fwhite {color: #ffffff;}

.btn-tebas{
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
}
.btn-tebas:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}
.btn-lomba{
    border-color: #FFF;
    color: #FFF;
    background-color: rgba(0,0,0,0.2);
    -webkit-border-radius: 0;
}
.btn-lomba:hover{
    color: #FFF;
    background-color: rgba(0,0,0,0.7);
}
