/*  BODY */
@font-face {
  font-family: "arista";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dosis-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-extralight.woff") format("woff"), url("../fonts/dosis-extralight.ttf") format("truetype"), url("../fonts/dosis-extralight.svg#dosisbold") format("svg");
}
h1, h2, h3, h4 {font-family: "arista",sans-serif !important;font-weight: bold}
.navbar-nav>li>a {font-family: "arista",sans-serif !important;font-weight: bold;font-size: 15px;}
.navbar-nav>li>a span {color:#CE9F50;display: block;font-weight: normal;text-align: right;font-weight: bold}
.navbar-nav li.active a span {color:#ccc;}
.nav-pills > li > a:hover {background:#fff;}
a:hover {text-decoration:none!important }
h2.caption {background: url(../img/caption.png) top center no-repeat;text-align: center;padding: 35px 20px 30px 20px;margin-bottom:40px;font-size: 30px;color:#FFF;}
h2.judul-c{color: #000;}
h2.title {font-size: 50px;background: rgba(148, 148, 148, 0.5);padding: 10px;border-radius: 5px;color: #fff;-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .9);-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .9);box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .9);}
.navbar-inverse .nav li.dropdown.open .dropdown-toggle {padding: 15px 20px;}
.dropdown-menu > li > a:hover {
    opacity: 0.5;
}
.navbar-inverse {
    border-color: transparent;
}
/*  HEADER */

#header {
/*  background-image: url(../img/symphony.jpg);*/
/*  background-image: radial-gradient(center bottom, ellipse cover, #ffeda3, #ffc800);*/
  background-image: radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -o-radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -ms-radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -moz-radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -webkit-radial-gradient(center center, circle cover, #451394, #100326);
  }

#header .header {font-size:15px;}
.sliderlimit {min-height:275px}
.footerhead {text-align: center;display: block}
.bg-strep {background: url(../img/strep.jpg);text-align: center;display: block}

/*  JURI */
#juri {padding-bottom: 40px;background: url(../img/patternjuri.png)rgb(51, 14, 111);;text-align: center;}
#juri h2 {color:#FFF;font-weight: bold}
#juri h1 {border-bottom: dashed 2px #880000}
.profil-juri {min-height: 394px;color: #FFF}
.cv-juri {color: #000}
.profil-juri img {border:double 4px #00CCFF;border-radius: 50%;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;transition: all 0.5s ease;
/*
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");  Firefox 3.5+
*/
}
a:hover .profil-juri img {
/*	filter: grayscale(0%); */
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
/*    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.ffff 0.ffff 0.ffff 0 0 0.ffff 0.ffff 0.ffff 0 0 0.ffff 0.ffff 0.ffff 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}
.img-responsive {margin: 0 auto;}

/*  COMPETITION */
#competition {background: url(../img/patternjuri.png); padding-top:20px;padding-bottom:20px;padding-top: 50px;}
#competition .icon {text-align:center;margin-bottom: 20px;padding:30px 20px;border:4px solid transparent;}
#competition a {color:#00ccff}
#competition a:hover {color:#000;}
#competition .icon:hover {border:5px double #009de1;color:#000;background: url(../img/patternjuri.png)rgba(0, 126, 249, 0.1);}
#competition .lombapc:hover {border:5px double #eaf904;color:#000;background: url(../img/patternmainan.png)rgba(238, 254, 3, 0.1);}
#competition .lombabodi:hover {border:5px double #00eae6;color:#000;background: url(../img/mainan.png)rgba(0, 234, 230, 0.1);}

/*  REGISTRATION & VIDEO */
#registration {text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  background: url(../img/patternjuri.png);
  border-left: none;
  border-right: none;}
#videos {padding-top:20px;padding-bottom: 20px;  background-color:rgb(10, 178, 220);color:#fff; border-left: 0; border-right:0;}
#videos h4 {text-align:center;color:#EEE;}

/* BLOG */
#blog {  background: #00CCFF;
  padding-bottom: 50px;
  color: #FFF;}
#blog .group1 img,#blog .block .ads2 {height:100px;width:115px;}

/* ARSIP */
#arsip .group1 img {height:150px;}
#arsip h4 {text-align: center;min-height: 40px}

/* SPONSOR & MEDIA PARTNER */
#sponsor {margin-top:50px;padding-bottom: 50px}
#support {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=
'#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
padding-top:20px;padding-bottom:20px;}
#support img {opacity: 0.8}
#support img:hover {opacity: 1}
.ads {padding:10px;background:#ddd;border-radius: 5px;text-align:center;}
.ads2 {padding:40px 10px;background:#ddd;border-radius: 5px;text-align:center;}
#support .block, #sponsor .block, .block {padding:5px;}

/*  FOOTER */
footer {padding-top:50px;padding-bottom:30px;text-align:center;color:#FFF;font-size:12px;-webkit-box-shadow:none; -moz-box-shadow:none;box-shadow: none;

  background-image: radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -o-radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -ms-radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -moz-radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -webkit-radial-gradient(center center, circle cover, #451394, #100326);
}
footer img.sosmed {opacity: 0.6}
footer img.sosmed:hover {opacity: 1}
.totop {background: #fff;width: 40px;height: 40px;display: inline-block;padding: 6px;margin:2px;border-radius: 50%;font-size: 20px;text-align: center;-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .9);-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .9);box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .9);}
.totop:hover {background: #ddd}

/* FAQ */
.faq b {font-weight: bold;color:#AC0000}

/* FORM */
#mainkonten {background: url(../img/patternmainan.png)rgba(4, 6, 45, 1);margin-top:60px;padding-top:60px;padding-bottom:50px;}
#mainkontenjuri {background: url(../img/patternmainan.png)rgb(255, 255, 255);margin-top:60px;padding-top:60px;padding-bottom:50px;}
.container.invect {background: url(../img/i-invect.png) bottom left no-repeat}
.container.pc {background: url(../img/i-pc.png) bottom left no-repeat}
.container.bodi {background: url(../img/i-bodi.png) bottom left no-repeat}
.c-form, .c-form2 {
	border:2px solid #fbe629;
	background: rgba(0, 0, 0, 0.4);
}
.c-form2{
	border-right:none;
    color: #FFF;
}
.c-form{
    color: #000;
}
.isi-form{
    color: #000;
}

.h-f2 {
	min-height:47px;
	margin-top:10px;
}

.h-f1{
	min-height:40px;
	margin-top:10px;
	padding-top:7px;
}

.titik2-form{
	float:right;
}

.color-i{
	color:#fbe629;
}

.pd-btn{
	width:160px;
}

.b-foot{
 height:350px;
 margin-top:-205px;
 padding-bottom:0px;

 background:#454;
 background:url('../image/foot.png') bottom;
}
.b-head{
 height:165px;
 margin-bottom:-115px;

 background-image:url('../image/head.png');
}
.b-foot, .b-head{
 background-size:100% auto;
 background-repeat: no-repeat;
}


@media (max-width: 991px){
.c-form, .c-form2{
	border:none;
}
.titik2-form{
	float:none;
}
.h-f1{
	margin-top:0px;
}
.h-f2{
	margin-top:0px;
}
.pd-btn{
	width:100%;
}
.b-head{
background-size:100% auto;
}
}

@media (max-width: 767px){
.b-head{
background-image:none;
margin-bottom:-140px;
}
.svg-wrapper {
  height: 80%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-200%);
  width: 220px;
}
}
@media (min-width: 1350px){
.b-head{
 height:335px;
 margin-bottom:-270px;
}

}
/* RESPONSIVE */
@media only screen and (min-width : 320px) and (max-width : 380px) {
.sliderlimit {min-height:500px;}
}
@media only screen and (min-width : 992px) and (max-width : 1199px) {
.navbar-brand h1 {font-size:18px;}
}
@media only screen and (min-width : 768px) and (max-width : 992px) {
.navbar-header {display: none}
}

/* Datepicker for Bootstrap */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  min-width: 225px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.dropdown-menu>li>a:hover {
  background-color: #AC0000 !important;
  color:#ecf0f1;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
}

.carousel-indicators .active {
  background-color: #FFFF00;
}

.carousel-indicators li {
  background-color: #FFF;
  border-color: #AC0000;
}

@media (max-width: 767px){
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #FFF !important;
}
}

@media (max-width:680px){
.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
}
#header .header {
    padding-top: 50px;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #333;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #FFFFFF;
  background-image: radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -o-radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -ms-radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -moz-radial-gradient(center center, circle cover, #451394, #100326);
  background-image: -webkit-radial-gradient(center center, circle cover, #451394, #100326);
}
.sub-brand {visibility:hidden;}
}


/* TAMBAHAN */

.svg-wrapper {
  height: 80%;
	margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 220px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -335;
  stroke-width: 8px;
  stroke: white;
}

.text {
  color: #fff;
  font-family: "arista",sans-serif ;
  font-weight: bold;
  line-height: 32px;
  position: relative;
  font-size: 35px;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
h1 b {

}
