@font-face {
  font-family: "arista";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dosis-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-extralight.woff") format("woff"), url("../fonts/dosis-extralight.ttf") format("truetype"), url("../fonts/dosis-extralight.svg#dosisbold") format("svg");
}

body {
  background: #fdeff0;
  background-size: 100%;
  background-position: center;
}

.navbar-inverse {
 /* background-image: url(../img/back_header.png);*/
  border-bottom: 5px solid #610c0e;
  height: 75px;
  padding-top: 10px;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
}


.form {
  height: 50px;
}

input, select {
  height: 30px;
  width: 100%;
}

.hide {
  overflow: hidden;
  visibility: hidden;
}

.border{
  padding: 10px;
  border: 1px solid #333;
  background-color: #ecf0f1;
}

.branding {
  font-family: arista;
  font-size: 35px;
  color: #fff;
    font-weight: bold;
  text-decoration: none;
}

.branding:hover {
  text-decoration: none;
  color: #fff;
}

.content {
  padding: 50px 7%;
}

.form-header-group {
    padding: 0px 0px 0px 0px !important;
}
.form-all {
    width: auto !important;
}
.col-md-5 {
    width: 50% !important;
}
.form-line {
    padding: 0px 36px !important;
}
